@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Silkscreen", cursive; */
  /* font-family: "Poppins", sans-serif; */
  margin: 0;
}

.cursor {
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, background-color 0.1s, width 0.1s, height 0.1s;
  width: 10px;
  height: 10px;
  background-color: #0c4a6e;
  display: flex;
  align-items: center;
  justify-content: center;
  &.hidden {
    opacity: 0 !important;
  }
}
